<div class="main-conatiner fixed-top">
<div class="navbar">
    <div class="navbar-section1" [@scrollAnimation]="scrollDirection">
      <div class="section1-content">
        <div class="rows">
          <div class="d-flex justify-content-center">
            <mat-icon>phone_iphone</mat-icon>
            <span>+92-320-984-563</span>
          </div>
          <div style="margin-left: 10px; width: 40%" class="d-flex justify-content-center">
            <mat-icon>email</mat-icon>
            <span style="margin-left: 10px">{{ email }}</span>
          </div>
        </div>
        <div class="rows" style="justify-content: end">
          <div style="width: 10%; justify-content: center" (click)="openSocial('https://www.facebook.com/')">
            <i class="fa fa-facebook"></i>
          </div>
          <div style="width: 10%; justify-content: center" (click)="openSocial('https://www.twitter.com/')">
            <i class="fa fa-twitter"></i>
          </div>
          <div style="width: 10%; justify-content: center" (click)="openSocial('https://www.google.com/')">
            <i class="fa fa-google"></i>
          </div>
          <div style="width: 10%; justify-content: center" (click)="openSocial('https://www.pinterest.com/')">
            <i class="fa fa-pinterest"></i>
          </div>
          <div style="width: 10%; justify-content: center; margin-right: 10px" (click)="openSocial('https://www.skype.com/')">
            <i class="fa fa-skype"></i>
          </div>
          @if(admin.role === "admin"){
            <div style="width: 10%; justify-content: center; margin-right: 10px" (click)="goToSupervisors()">
              <i class="fa fa-users"></i>
            </div>
          }
          @if (admin.userName) {
            <div style="width: 10%; justify-content: center; margin-right: 10px" (click)="feedBack()">
              <i class="fa fa-comment"></i>
            </div>
          }
          @if (!admin.userName) {
            <div style="width: 10%; justify-content: center; margin-right: 10px" (click)="adminLogin()">
              <i class="fa fa-user"></i>
            </div>
          }
          @if (admin.userName) {
            <div style="width: 10%; justify-content: center; margin-right: 10px" (click)="logout()">
              <i class="fa fa-sign-out"></i>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="navbar-section2" [class.umar]="scrollDirection == 'hide'">
      <div class="section2-content">
        <div class="logo">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1F_ghFMzRCErtCvxw6MMjM2VgLHrWzC_X6g&usqp=CAU"> -->
        </div>
        <div class="section">
          @for (item of layout; track item.id) {
          <div
            [class.selected]="item.label === selectedItem"
            (click)="slectedValue(item)"
          >
            <span> {{ item.label }}</span>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
