<div class="main-conatiner ">
    <div class="container">
        <div class="footer-widgets">
            <div class="footer-widgets-about">
                <h1>About Us</h1>
                <p>
                    flipcart.com is a service provider giving all type of online solutions assisting your company to
                    cultivate its presence online around the web. Our primary distinctive line of competence is Web
                    Designing and internet based Marketing and advertising including Google Search and Social Media
                    Marketing. Our solutions enable you to achieve your company desired goals first and foremost; we
                    plan your online business by giving top quality solutions such as Web Developing,
                </p>
            </div>
            <div class="footer-widgets-popular">
                <h1>Most Popular</h1>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Flyer</a></li>
                    <li><a href="#">Websites</a></li>
                    <li><a href="#">Social Timeline</a></li>
                    <li><a href="#">Banners</a></li>
                </ul>
            </div>
            <div class="footer-widgets-info">
                <h1>Contact Info</h1>

                <!-- <div class="footer-widget contact-widget"> -->
                    <!-- <h4>Contact info<span class="head-line"></span></h4> -->
                    <ul>
                        <li><span>Address:</span> Building No. L-1619 Sector 11/E<br>Muslim Town North Karachi</li>
                        <li><span>Phone Number:</span> +(92)-322-7815555</li>
                        <li><span>Email: </span> <a class="mail" href="#">flipcart&#64;gmail.com</a></li>
                    </ul>
                </div>
            <!-- </div> -->
        </div>
    </div>

</div>