.main-conatiner{
    height: 130px;
    width: 400px;
    margin: 20px;
}

.container-2{
    color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
    .btn-info{
        // margin-right: 10px;
    }
    button{
        color: #fff;
    }
}