.main-conatiner {
  margin-top: 100px;

  .aboutus {
    width: 100%;
    background-color: lightgray;
    height: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 28px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      margin: 0;
      color: #444;
    }

    p {
      font-weight: 300;
      color: #888;
      margin-top: 10px;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      line-height: 22px;
    }
  }

  .container {
    margin: 70px;

    p {
      color: #888;
      line-height: 2;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-conatiner {
    .aboutus {
      h2 {
        font-weight: 800;
      }
      p {
        text-align: center;
        margin: 4px 36px;
        font-size: 16px;
      }
    }

    .container {
      margin: 23px;
      width: 94%;
      .info {
        h2 {
          font-size: 26px;
          font-weight: 700;
          margin-left: -10px;
        }
        p {
          font-size: 18px;
          text-align: justify;
          margin-right: 10px;
          margin-left: -10px;
        }
      }
    }
  }
}
