.main-conatiner {
  background: #f2f2f2;
  height: 100vh;
  width: 100vw;
  display: flex;
  .wrapper-contaciner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0 150px;
  }
  .container-1 {
    width: 50%;
    height: 60%;
    display: flex;
  }
  .container-2 {
    background: #fff;
    width: 50%;
    height: 70%;
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    .inner-container {
      width: 50%;
    }
    button {
      color: #fff;
      margin-right: 20px;
    }
    .login-header {
      text-align: center;
      font-size: 20px;
    }
  }
  .d-block {
    height: 422px !important;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper-contaciner {
    margin: 0 !important;

    .container-1 {
      display: none !important;
    }
    .container-2 {
      height: 70%;
      width: 100% !important;
      .login-header {
        font-size: 28px;
        margin-top: 18px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
      }

      button {
        width: 73px;
        font-size: 15px;
        height: 47px;
      }
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 376px) {
  .wrapper-contaciner {
    margin: 0 !important;

    .container-1 {
      display: none !important;
    }
    .container-2 {
      height: 70%;
      width: 100% !important;
      .login-header {
        font-size: 26px;
        font-weight: bold;
      }
      label {
        font-size: 18px;
        margin-bottom: 12px;
      }

      button {
        margin-top: 17px;
        width: 202px;
        height: 53px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 852px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
    }
    .container-1 {
      display: none !important;
    }
    .container-2 {
      height: 65%;
      margin-top: -75px;
      width: 100% !important;
      .login-header {
        font-size: 28px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
        margin-bottom: 12px;
      }
      .form-control,
      .form-select {
        height: 55px;
      }
      button {
        margin-top: 17px;
        width: 139px;
        font-size: 18px;
        height: 55px;
      }
    }
  }
}

@media only screen and (min-width: 853px) and (max-width: 910px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
    }
    .container-1 {
      display: none !important;
    }
    .container-2 {
      height: 65%;
      margin-top: -188px;
      width: 100% !important;
      .login-header {
        font-size: 28px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
        margin-bottom: 12px;
      }
      .form-control,
      .form-select {
        height: 55px;
      }
      button {
        margin-top: 17px;
        width: 139px;
        font-size: 18px;
        height: 55px;
      }
    }
  }
}
@media only screen and (min-width: 912px) and (max-width: 1000px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
    }
    .container-1 {
      display: none !important;
    }
    .container-2 {
      height: 65%;
      margin-top: -255px;
      width: 100% !important;
      .login-header {
        font-size: 28px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
        margin-bottom: 12px;
      }
      .form-control,
      .form-select {
        height: 55px;
      }
      button {
        margin-top: 17px;
        width: 139px;
        font-size: 18px;
        height: 55px;
      }
    }
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1023px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
      .container-1 {
        height: 52%;
      }

      .container-2 {
        width: 50% !important;
        height: 33%;
        margin-top: -252px;
        .login-header {
          font-size: 28px;
          margin-top: 18px;
          font-weight: bold;
        }
        label {
          font-size: 21px;
        }

        button {
          width: 97px;
          font-size: 18px;
          height: 47px;
        }
      }
    }
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
      .container-1 {
        height: 83%;
      }

      .container-2 {
        width: 50% !important;
        height: 75%;
        margin-top: -50px;
        .login-header {
          font-size: 28px;
          margin-top: 18px;
          font-weight: bold;
        }
        label {
          font-size: 21px;
        }

        button {
          width: 97px;
          font-size: 18px;
          height: 47px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
    }

    .container-2 {
      height: 29%;
      margin-top: -437px;
      .login-header {
        font-size: 28px;
        margin-top: 18px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
      }

      button {
        width: 97px;
        font-size: 18px;
        height: 47px;
      }
    }
  }
  .d-block {
    height: 448px !important;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1280px) {
  .main-conatiner {
    .wrapper-contaciner {
      height: 95vh;
      margin: 44px !important;
    }

    .container-2 {
      height: 56%;
      margin-top: -33px;
      width: 50% !important;
      .login-header {
        font-size: 28px;
        margin-top: 18px;
        font-weight: bold;
      }
      label {
        font-size: 21px;
      }

      button {
        width: 97px;
        font-size: 18px;
        height: 47px;
      }
    }
  }
  .d-block {
    height: 490px !important;
  }
}
