<div class="main-conatiner">

    <div class=" text-center heading">
        <div></div>
        <h2>{{data?._id? 'Update' : 'Add'}} Product</h2>
        <i class="fa fa-close" (click)="onNoClick()"></i>

    </div>
    <mat-dialog-content>
        <div>
            <form #form="ngForm">
                <div class="d-flex content">
                    <div class="col-8">
                        <label>Product Name</label>
                        <input type="text" name="productName" class="form-control" [(ngModel)]="addProduct.productName"
                            #productName="ngModel" required>
                        @if (productName.invalid && (productName.touched || productName.dirty || form.submitted)) {
                        <span style="color: #ff6e6e;">Field is required</span>
                        }
                    </div>
                    <div class="col-3 ml-2" >
                        <label>Price</label>
                        <input type="number" name="price" class="form-control" [(ngModel)]="addProduct.price"
                            #price="ngModel" required>
                        @if (price.invalid && (price.touched || price.dirty || form.submitted)) {
                        <span style="color: #ff6e6e;">Field is required</span>
                        }
                    </div>
                </div>
                <div class="container-3 content">
                <div class="description col-8">
                    <label>Description</label>
                    <textarea name="description" class="form-control " cols="80" rows="6"
                        [(ngModel)]="addProduct.description" #description="ngModel" required></textarea>
                    @if (description.invalid && (description.touched || description.dirty || form.submitted)) {
                    <span style="color: #ff6e6e;">Field is required</span>
                    }
                </div>
                <div class="image-container">
                    <div class=" p-image">
                        @if(addProduct.image){
                            <img [src]="addProduct.image" height="150" width="180">
                        } @else {
                            <i class="fa fa-file-image-o"></i>

                        }
                    </div>
                    <div class="pt-2 ">
                        <input type="file" name="image" class="form-control select-image" accept="image/*" required
                        (change)="imageBase64($event)">
                        @if ( form.submitted && !addProduct.image) {
                            <span style="color: #ff6e6e;">Field is required</span>
                        }
                    </div>
                    
                </div>
            </div>
            </form>
        </div>

    </mat-dialog-content>
    <div class="btns">

        <mat-dialog-actions>
            <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
            <button class="btn btn-info " (click)="addUpdateProduct(form)">Save</button>
        </mat-dialog-actions>
    </div>
</div>
@if (loading) {
<div class="spinner-wrapper">
    <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
}