<div class="main-conatiner">
    <div class="aboutus">
        <h2>Feed Back</h2>
    </div>
    <div class="container">
        <table class="table table-striped col-8">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Website</th>
                <th scope="col">Comment</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                @for (feedback of feedbackList; track $index) {
                    <tr>
                        <td>{{feedback.name}}</td>
                        <td>{{feedback.email}}</td>
                        <td>{{feedback.website}}</td>
                        <td>{{feedback.comment}}</td>
                        <td><i class="fa fa-trash" (click)="deleteFeedback(feedback._id)"></i></td>
                    </tr>
                }
            </tbody>
          </table>
    </div>
</div>
@if (loading) {
    <div class="spinner-wrapper">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    }