<div class="main-conatiner" #scroll>
  <div class="content">
    <div class="aboutus">
      <h2>Products</h2>
      <p>
        We Offer You Our Portfolio And Our Clients, Who Always Proud Of Them,
        And We Hope To Obtain Admire.
      </p>
      @if (admin.userName) {
        <button class="btn btn-info" (click)="addProduct()" style="color: #fff;">Add Product</button>
      }
    </div>
    <div class="product-container">
      <div class="row">
        @for (item of products; track item.grid) {
        <div class="col-sm-3">
          <div class="container pt-3">
            <div class="row">

              <div class="card" >
                <div class="image-section">
                  <img class="card-img-top" [src]="item.image" alt="Card image cap">
                </div>
                <div class="card-body">
                  <a  [routerLink]="['/productDetails']" [queryParams]="{prop: item._id}" routerLinkActive="router-link-active"  class="card-title">{{item.productName}}</a>
                  <h2 class="price">Rs: {{item.price}}</h2>
                </div>
                @if (admin.userName) {
                  <div class="editUpdate">
                    <i class="fa fa-pencil-square" (click)="addProduct(item)"></i>
                    <i class="fa fa-trash" (click)="deleteConfirmation(item._id)"></i>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>

@if (loading) {
  <div class="spinner-wrapper">
      <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
  }